.task-counters {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 3px;
}

.counter-item {
    text-align: center;
    margin: 0 10px;

}

.counter-item p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;

}

.counter-item h2 {
    margin: 5px 0 0;
    font-size: 20px;

}

.urgent {
    color: red;
}

.completed {
    color: green;
}

.total {
    color: #007bff;
}